@CHARSET "ISO-8859-1";
.title {
	font-family: "Arial", Sans-serif;
	font-size: 30px;
}
body {
	color: white;
	background-color: #394DB0;
}

a {
	color: white;
}

td {
	padding: 5px;
	vertical-align: top;
}

h1 {
	font-size: medium;
}

.headingDiv {
	display:inline-block; 
	background-color: #395DB0; 
	border-radius: 25px 25px 0px 0px; 
	border: 2px solid white; 
	padding: 20px; 
	box-shadow: 5px 0px 5px DarkBlue;
}

.bodyDiv {
	width: 90%; 
	background-color: #395DB0; 
	border-radius: 0px 25px 25px 25px; 
	border: 2px solid white; 
	padding: 20px; box-shadow: 
	10px 10px 5px DarkBlue;
}
